* {
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Courier New', Courier, monospace;

}

.container {
    background-color: #111111;
    width: 100%;
    height: max-content;

}





.header {
    color: rgb(207, 207, 207);
    font-size: 27px;
    border-bottom: #444;
    top: 0;  
    width: 100%;
}


.list {
    display: flex;
    flex-wrap: wrap;
}

/*start logo*/
.col_1 {
    width: 110px;
    text-align: center;
    margin: auto;
}

.col_img {
    width: 100%;
}
/*end logo*/
.col_2 {
    width: 100px;
    text-align: center;
    margin-top: auto;
    padding: 1rem 0;
}

.logo_text {
    font-size: 27px;
}

.col_text {
    font-size: 20px;
}

.col_3 {
    width: 500px;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

/*seach start*/

.search {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    border: 1px solid #68B7E8;
}
    
input {
    padding: 10px 5px;
    float: left;
    color: rgb(128, 128, 128);
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    font-size: 15px;
}

input:focus {
    outline: 0;
    background:transparent;
}
        
/* seach end*/    


.col_4 {
    width: 300px;
    text-align: center;
    margin: auto 0;
}


.col_4 a {
    color: #141010;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
}

.col_4 img {
    width: 37px;
}


.header hr {
    width: 100%;
    margin: auto;
    background-color:#68B7E8;
    height: 5px;
    border: none;
    text-align: center;
}



/*section menu start*/

/*menu start*/

.container_menu {
    background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1712062/pub_6022e8df064ec93518296a57_6022effad6ee57324977e835/scale_1200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;        
}

.menu {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color:rgb(207, 207, 207);
    background-color: #0a0f13fb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 58px;
    color:#444;
    font-weight: bold;
    border: 2.3px solid #444;
    background:#68B7E8;
    border-radius: 15px;
    font-size: 27px;
    margin: 2rem;
    box-shadow: 0px 0px 50px 0px rgb(68, 68, 68);
    text-decoration: none;
    text-align: center;

}

.list_menu {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color:rgb(207, 207, 207);
    background-color: #0a0f13fa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    height: max-content;
    justify-content: space-around;
    padding: 0 0 1em;
}

.list_menu a {
    color:rgb(207, 207, 207);
    text-decoration: none;
    margin: auto 1rem 0.5rem;
    padding: auto;
    box-shadow: 0px 0px 5px 0px rgb(68, 68, 68);
    border: 2.3px solid #444;
    border-radius: 15px;
    width: 200px;
}

/*menu end*/

/*recomendation start*/

.recomendation hr {
    width: 100%;
    margin: auto;
    background-color:#68B7E8;
    height: 5px;
    border: none;
    text-align: center;
}

.recomendation {
    width: 100%;
    background-image: url("/img/bg/book_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-height: max-content;
}

.recomendation_name {
    background-color: #000000fa;
    text-align: center;
    color: rgb(207, 207, 207);
    font-size: 70px;
    min-height: 1000px;
    padding-top: 5rem;
}
/*recomendation end*/
